In [1]:
import pandas as pd
import numpy as np

In [2]:



df_dict = pd.read_excel(
    'Numpy Practice/ Dataonline_retail_II.xlsx',
    sheet_name=['Year 2009-2010', 'Year 2010-2011']
)

df = pd.concat(df_dict.values(), ignore_index=True)
df

FileNotFoundError: [Errno 2] No such file or directory: 'online_retail_II.xlsx'

In [3]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate'].dt.year.value_counts()
df['InvoiceDate']

0         2009-12-01 07:45:00
1         2009-12-01 07:45:00
2         2009-12-01 07:45:00
3         2009-12-01 07:45:00
4         2009-12-01 07:45:00
                  ...
1067366   2011-12-09 12:50:00
1067367   2011-12-09 12:50:00
1067368   2011-12-09 12:50:00
1067369   2011-12-09 12:50:00
1067370   2011-12-09 12:50:00
Name: InvoiceDate, Length: 1067371, dtype: datetime64[ns]

In [5]:
df = df[['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'Price', 'Customer ID', 'Country']]

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Quantity'] = df[ 'Quantity'].astype('int32')
df['Price'] = df['Price']. astype('float32')

In [7]:
df.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [8]:
#Handling Missing values(NaNs)
df['is_loyal_customer'] = np.where(df['Customer ID'].isna(), 0, 1)

In [9]:
df['Category'] = np.where(
    df['Description'].str.contains('SET|PACK|BAG', na=False),
    'Household',
    'Grocery'
)

In [10]:
Invalid_Price_Count = (df['Price'] <= 0).sum()
Invalid_Price_Count

6207

In [11]:
#impute
df['UnitPrice'] = df.groupby('Category')['Price'] \
                    .transform(lambda x: x.fillna(x.median()))

df = df[df['UnitPrice'] > 0]

# df['UnitPrice'] = (
#     df.groupby('Category')['Price']
#       .transform(lambda x: x.fillna(x.median()))
# )

# df = df.loc[df['UnitPrice'] > 0]

# df['UnitPrice']

In [12]:
# df['is_return'] = np.where(df['Quantity'] < 0, 1,0)
# df['Quantity'] = df['Quantity'].abs()

df['is_return'] = (df['Quantity'] < 0).astype(int)
df['Quantity'] = df['Quantity'].abs()

Outlier price capping (winsorization)

In [13]:
upper_price = df['Price'].quantile(0.99)
df['Price'] = np.clip(df['Price'], 0, upper_price)

Advance Numpy Operation

In [14]:
#Broadcasting (Tax & Discount)
Gst = 18

Category - based discount(lookup)

In [15]:
discount_map = {
        'Household' : 5,
        'Grocery' : 10
}
df['Base_Discount'] = df['Category'].map(discount_map)

Boolean Masking(premium product)

In [16]:
Premium_Masking  = df['Price'] > 10
df['Extra_Discount'] = np.where(Premium_Masking, 5, 0)

Total Discount (Vectorization)

In [17]:
df['Total_Discount'] = df['Base_Discount'] + df['Extra_Discount']

Vectorized Arithmetic

In [18]:
df['Price_After_Discount'] = df['Price'] * (1 - df['Total_Discount'] / 100)
df['Final_Price'] = df['Price_After_Discount'] * (1 + Gst)
df['Final_Price']

0          118.844997
1          115.425000
2          115.425000
3           35.909998
4           21.375000
              ...
1067366     35.909998
1067367     70.965002
1067368     70.965002
1067369     89.347497
1067370    290.700000
Name: Final_Price, Length: 1061164, dtype: float64

In [28]:
# df_error = df[(df['Price'] > 10) & (df['Extra_Discount'] == 0)]

# print("Rows where Extra Discount FAILED:")
# print(df_error[['Category', 'Price', 'Base_Discount', 'Extra_Discount']].head())
# df['Extra_Discount'].value_counts()

Rows where Extra Discount FAILED:
Empty DataFrame
Columns: [Category, Price, Base_Discount, Extra_Discount]
Index: []

0    1009471
5      51693
Name: Extra_Discount, dtype: int64

Reshaping & Multidimensional Arrays

In [19]:
df['date'] = df['InvoiceDate'].dt.date

daily_demand = (
        df.groupby(['date', 'Country'])['Quantity']
        .sum()
        .unstack(fill_value = 0)
)
df['date'].tail(20)

1067351    2011-12-09
1067352    2011-12-09
1067353    2011-12-09
1067354    2011-12-09
1067355    2011-12-09
1067356    2011-12-09
1067357    2011-12-09
1067358    2011-12-09
1067359    2011-12-09
1067360    2011-12-09
1067361    2011-12-09
1067362    2011-12-09
1067363    2011-12-09
1067364    2011-12-09
1067365    2011-12-09
1067366    2011-12-09
1067367    2011-12-09
1067368    2011-12-09
1067369    2011-12-09
1067370    2011-12-09
Name: date, dtype: object

Store & Category Performance KPIs

In [20]:
# Revenue calaculation (Vectorized)

df['Revenue'] = np.round(df['Final_Price'] * df['Quantity'], 2)
(df['Revenue'])

0          1426.14
1          1385.10
2          1385.10
3          1723.68
4           513.00
            ...
1067366     215.46
1067367     283.86
1067368     283.86
1067369     268.04
1067370     290.70
Name: Revenue, Length: 1061164, dtype: float64

In [21]:
Store_Kpi = (
            df.groupby('Country')
            .agg(
                Total_Revenue = ('Revenue', 'sum'),
                Total_Units = ('Quantity', 'sum'), 
                Total_Price = ('Price', 'mean')
            )
            .reset_index()
)
Store_Kpi['Total_Revenue'] = Store_Kpi['Total_Revenue'].round(2)
Store_Kpi['Total_Price'] = Store_Kpi['Total_Price'].round(2)

In [22]:
Store_Kpi = (
    df.groupby('Country')
      .agg(
          Total_Revenue=('Revenue', 'sum'),
          Total_Units=('Quantity', 'sum'),
          Total_Price=('Price', 'mean')
      )
      .reset_index()
)

In [23]:
# scientific notation (total_revenue e+05)
pd.options.display.float_format = '{:,.2f}'.format

In [24]:
Store_Kpi

                 Country  Total_Revenue  Total_Units  Total_Price
0              Australia   2,953,220.92       104782         2.85
1                Austria     379,888.39        11850         3.33
2                Bahrain      57,846.04         1403         3.49
3                Belgium   1,108,932.48        35482         3.60
4                Bermuda      21,632.25         2798         2.49
5                 Brazil      24,220.66          545         2.73
6                 Canada      75,160.97         3657         2.30
7        Channel Islands     797,634.21        22491         4.17
8                 Cyprus     406,901.73        11284         4.04
9         Czech Republic      15,976.57          750         2.21
10               Denmark   1,279,049.42       240632         2.93
11                  EIRE  11,206,472.57       349512         3.66
12    European Community      22,439.04          501         4.82
13               Finland     472,884.57        14433         3.66
14                France   6,207,029.28       365623         3.15
15               Germany   7,498,238.08       231405         3.34
16                Greece     322,323.73         7741         3.63
17             Hong Kong     243,359.48         7087         3.53
18               Iceland      97,197.83         3286         2.55
19                Israel     195,561.70         5597         3.11
20                 Italy     542,712.29        15693         4.00
21                 Japan     884,754.83        34832         2.12
22                 Korea      22,173.91          802         2.38
23               Lebanon      32,373.88          459         5.44
24             Lithuania     112,892.06         2958         2.62
25                 Malta      88,736.35         2547         3.81
26           Netherlands   9,688,774.45       386643         2.52
27               Nigeria       4,759.23          150         3.12
28                Norway     751,420.34        27298         3.25
29                Poland     189,719.55         6012         3.32
30              Portugal     920,157.83        28760         3.11
31                   RSA      59,120.01         1971         3.09
32          Saudi Arabia       2,747.46           85         2.41
33             Singapore     225,095.11         7001         3.66
34                 Spain   2,013,913.98        56447         3.51
35                Sweden   1,582,106.70        89425         2.85
36           Switzerland   1,694,463.94        53391         3.14
37              Thailand      53,510.28         2552         3.00
38                   USA     175,369.44         6828         2.56
39  United Arab Emirates     187,120.64         7914         2.53
40        United Kingdom 305,445,597.63      9751525         3.33
41           Unspecified     190,008.29         6752         2.94
42           West Indies       9,257.53          395         2.27

# A/B Testing

In [25]:
Control_Revenue = np.sum(df['Price'] * df['Quantity'])
Treated_Revenue = np.sum(df['Final_Price'] * df['Quantity'])

Lift = np.round((Treated_Revenue - Control_Revenue )/ Control_Revenue * 100 , 2)
Lift

1623.13

Extract_Data

In [26]:
df.to_csv ('Tesco_Clean_Fact_Sales.csv', index = False)
Store_Kpi.to_csv('Tesco_Store_Kpi.csv', index = False)
daily_demand.to_csv('Tesco_Daily_Demand.csv')

In [ ]:

“Using the Online Retail II dataset, I built a Tesco-scale analytics pipeline applying advanced NumPy operations like broadcasting, masking, reshaping, and vectorized computation. I handled missing values, noisy retail data, optimized preprocessing for performance, and produced forecasting-ready and BI-ready datasets supporting store operations, category performance, and digital retail optimization.”